LEMONSQUEEZY_PRODUCT_ID=
LEMONSQUEEZY_API_BASE=https://api.lemonsqueezy.com
LEMONSQUEEZY_CHECKOUT_URL=https://lemonsqueezy.com
LICENSE_COOKIE_SECRET=
LICENSE_REVERIFY_DAYS=7

WEB_DOWNLOAD_TOKEN_SECRET=
WEB_DOWNLOAD_TOKEN_TTL_SECONDS=300

WEB_DOWNLOAD_WINDOWS_URL=
WEB_DOWNLOAD_WINDOWS_FILENAME=

WEB_DOWNLOAD_MACOS_URL=
WEB_DOWNLOAD_MACOS_FILENAME=

WEB_DOWNLOAD_LINUX_URL=
WEB_DOWNLOAD_LINUX_FILENAME=

WEB_DOWNLOAD_UPSTREAM_BEARER_TOKEN=
